* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
}

.container {
    background-color: orange;
    width: 100%;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background-color: black;
}

nav p {
    font-family: Arial;
    color: white;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial;
    color: rgb(20, 42, 161);
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    opacity: 90%;
    z-index: 9;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 14px;
    color: #038114;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li ul li a:hover {
    background-color: #7082e765;
    border: 10px;
    border-radius: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.topic {
    width: 180px;
    border-radius: 4px;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: bold;
    margin: 8px 14px;
}


.hlo {
    background-color: rgb(16, 243, 27);
    color: rgb(247, 100, 16);
    border-radius: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px rgb(255, 255, 255) solid;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.hlo small{
    font-size: 20px;
}
.about {
    background-color: rgb(212, 164, 7);
    color: rgb(35, 6, 83);
    border-radius: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px rgb(255, 255, 255) solid;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}


.about small {
    text-align: center;
    font-size: 20px;
    line-height: 1.6em;
}


.about p{
    font-size: 15px;
    line-height: 1em;
    margin-top: 20px;
}

.about h6{
    font-size: 25px;
    line-height: 2em;
}

.yt{
    text-decoration: underline;
}

#updt{
    font-size: 10px;
    margin-top: 0%;
}

.imageBox {
    position: relative;

}

.imageBox .imageInn img {
    position: absolute;
    width: 94px;
    height: auto;
    border-width: 1px;
    border-radius: 55px;
    top: 28px;
    left: 6px;
}

.imageBox .hoverImg img {
    position: absolute;
    width: 30px;
    height: auto;
    left: 10px;
    top: 34px;
    padding: 25px;
    display: none;
}

.imageBox:hover .hoverImg img {
    display: block;
}

.imageBox:hover .imageInn img {
    display: block;
    filter: blur(0.8px);
}

.footer {
    position: fixed;
    background-color: black;
    color: yellowgreen;
    text-align: center;
    font-size: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
